.elementor-2732 .elementor-element.elementor-element-33a7f30>.elementor-container {
    max-width: 1440px;
    min-height: 84px;
}

.elementor-2732 .elementor-element.elementor-element-33a7f30>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2732 .elementor-element.elementor-element-33a7f30 {
    overflow: hidden;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0% 8% 0% 8%;
}

.elementor-bc-flex-widget .elementor-2732 .elementor-element.elementor-element-065431b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2732 .elementor-element.elementor-element-065431b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2732 .elementor-element.elementor-element-065431b.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-2732 .elementor-element.elementor-element-132b596 .hfe-site-logo-container,
.elementor-2732 .elementor-element.elementor-element-132b596 .hfe-caption-width figcaption {
    text-align: left;
}

.elementor-2732 .elementor-element.elementor-element-132b596 .hfe-site-logo .hfe-site-logo-container img {
    width: 82%;
}

.elementor-2732 .elementor-element.elementor-element-132b596 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-2732 .elementor-element.elementor-element-132b596 .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-2732 .elementor-element.elementor-element-ce819db.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-2732 .elementor-element.elementor-element-ce819db.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-2732 .elementor-element.elementor-element-ce819db.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-2732 .elementor-element.elementor-element-cb5cf44 {
    text-align: center;
}

.elementor-2732 .elementor-element.elementor-element-cb5cf44 .elementor-heading-title {
    color: #000000;
    font-family: "KimuraSans Regular", Sans-serif;
    font-size: 19px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.4px;
}

.elementor-bc-flex-widget .elementor-2732 .elementor-element.elementor-element-991d7de.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-2732 .elementor-element.elementor-element-991d7de.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-2732 .elementor-element.elementor-element-991d7de.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-2732 .elementor-element.elementor-element-463d752 {
    text-align: center;
}

.elementor-2732 .elementor-element.elementor-element-463d752 .elementor-heading-title {
    color: #000000;
    font-family: "KimuraSans Regular", Sans-serif;
    font-size: 19px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.4px;
}

.elementor-bc-flex-widget .elementor-2732 .elementor-element.elementor-element-b2334ab.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-2732 .elementor-element.elementor-element-b2334ab.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-2732 .elementor-element.elementor-element-dd1147c .ekit_social_media {
    text-align: right;
}

.elementor-2732 .elementor-element.elementor-element-dd1147c .elementor-repeater-item-6e9c820>a {
    color: #000000;
}

.elementor-2732 .elementor-element.elementor-element-dd1147c .elementor-repeater-item-6e9c820>a svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-2732 .elementor-element.elementor-element-dd1147c .elementor-repeater-item-358ddf7>a {
    color: #000000;
    border-style: none;
}

.elementor-2732 .elementor-element.elementor-element-dd1147c .elementor-repeater-item-358ddf7>a svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-2732 .elementor-element.elementor-element-dd1147c .elementor-repeater-item-358ddf7>a:hover {
    border-style: none;
}

.elementor-2732 .elementor-element.elementor-element-dd1147c .elementor-repeater-item-2e53aea>a {
    color: #000000;
    border-style: none;
}

.elementor-2732 .elementor-element.elementor-element-dd1147c .elementor-repeater-item-2e53aea>a svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-2732 .elementor-element.elementor-element-dd1147c .elementor-repeater-item-2e53aea>a:hover {
    border-style: none;
}

.elementor-2732 .elementor-element.elementor-element-dd1147c .ekit_social_media>li>a {
    text-align: center;
    text-decoration: none;
    border-radius: 51% 51% 51% 51%;
    width: 32px;
    height: 0px;
    line-height: 0px;
}

.elementor-2732 .elementor-element.elementor-element-dd1147c .ekit_social_media>li {
    display: inline-block;
    margin: 9px 9px 9px 9px;
}

.elementor-2732 .elementor-element.elementor-element-dd1147c .ekit_social_media>li>a i {
    font-size: 26px;
}

.elementor-2732 .elementor-element.elementor-element-dd1147c .ekit_social_media>li>a svg {
    max-width: 26px;
}

.elementor-2732 .elementor-element.elementor-element-dd1147c {
    --e-transform-transition-duration: 607ms;
}

@media(max-width:1200px) {
    .elementor-2732 .elementor-element.elementor-element-33a7f30>.elementor-container {
        max-width: 1440px;
    }
    .elementor-2732 .elementor-element.elementor-element-33a7f30 {
        padding: 0% 0% 0% 7%;
    }
    .elementor-bc-flex-widget .elementor-2732 .elementor-element.elementor-element-ce819db.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-2732 .elementor-element.elementor-element-ce819db.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-2732 .elementor-element.elementor-element-cb5cf44 .elementor-heading-title {
        font-size: 18px;
    }
    .elementor-2732 .elementor-element.elementor-element-cb5cf44 {
        width: var( --container-widget-width, 339.094px);
        max-width: 339.094px;
        --container-widget-width: 339.094px;
        --container-widget-flex-grow: 0;
    }
    .elementor-bc-flex-widget .elementor-2732 .elementor-element.elementor-element-991d7de.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-2732 .elementor-element.elementor-element-991d7de.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-2732 .elementor-element.elementor-element-463d752 .elementor-heading-title {
        font-size: 18px;
    }
    .elementor-2732 .elementor-element.elementor-element-463d752 {
        width: var( --container-widget-width, 339.094px);
        max-width: 339.094px;
        --container-widget-width: 339.094px;
        --container-widget-flex-grow: 0;
    }
    .elementor-2732 .elementor-element.elementor-element-dd1147c .ekit_social_media>li>a i {
        font-size: 21px;
    }
    .elementor-2732 .elementor-element.elementor-element-dd1147c .ekit_social_media>li>a svg {
        max-width: 21px;
    }
    .elementor-2732 .elementor-element.elementor-element-dd1147c .ekit_social_media>li>a {
        width: 27px;
        height: 2px;
        line-height: 1px;
    }
}

@media(max-width:1024px) {
    .elementor-2732 .elementor-element.elementor-element-132b596 .hfe-site-logo .hfe-site-logo-container img {
        width: 75%;
    }
    .elementor-bc-flex-widget .elementor-2732 .elementor-element.elementor-element-ce819db.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-2732 .elementor-element.elementor-element-ce819db.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-2732 .elementor-element.elementor-element-cb5cf44 .elementor-heading-title {
        font-size: 17px;
    }
    .elementor-bc-flex-widget .elementor-2732 .elementor-element.elementor-element-991d7de.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-2732 .elementor-element.elementor-element-991d7de.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-2732 .elementor-element.elementor-element-463d752 .elementor-heading-title {
        font-size: 17px;
    }
    .elementor-2732 .elementor-element.elementor-element-dd1147c .ekit_social_media>li>a i {
        font-size: 21px;
    }
    .elementor-2732 .elementor-element.elementor-element-dd1147c .ekit_social_media>li>a svg {
        max-width: 21px;
    }
}

@media(max-width:767px) {
    .elementor-2732 .elementor-element.elementor-element-33a7f30 {
        margin-top: 9%;
        margin-bottom: 9%;
    }
    .elementor-2732 .elementor-element.elementor-element-065431b {
        width: 49%;
    }
    .elementor-2732 .elementor-element.elementor-element-065431b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 24px;
    }
    .elementor-2732 .elementor-element.elementor-element-065431b>.elementor-element-populated {
        margin: 0px 0px 23px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-2732 .elementor-element.elementor-element-132b596 .hfe-site-logo .hfe-site-logo-container img {
        width: 100%;
    }
    .elementor-2732 .elementor-element.elementor-element-cb5cf44 {
        text-align: left;
    }
    .elementor-2732 .elementor-element.elementor-element-cb5cf44 .elementor-heading-title {
        font-size: 20px;
        line-height: 1.3em;
    }
    .elementor-2732 .elementor-element.elementor-element-cb5cf44>.elementor-widget-container {
        margin: 0px 0px 7px 0px;
    }
    .elementor-2732 .elementor-element.elementor-element-463d752 {
        text-align: left;
    }
    .elementor-2732 .elementor-element.elementor-element-463d752 .elementor-heading-title {
        font-size: 20px;
        line-height: 1.3em;
    }
    .elementor-2732 .elementor-element.elementor-element-463d752>.elementor-widget-container {
        margin: 0px 0px 7px 0px;
    }
    .elementor-2732 .elementor-element.elementor-element-dd1147c .ekit_social_media {
        text-align: left;
    }
    .elementor-2732 .elementor-element.elementor-element-dd1147c .ekit_social_media>li>a {
        text-align: left;
        border-radius: 0px 0px 0px 0px;
        width: 39px;
    }
    .elementor-2732 .elementor-element.elementor-element-dd1147c .ekit_social_media>li>a i {
        font-size: 26px;
    }
    .elementor-2732 .elementor-element.elementor-element-dd1147c .ekit_social_media>li>a svg {
        max-width: 26px;
    }
    .elementor-2732 .elementor-element.elementor-element-dd1147c>.elementor-widget-container {
        margin: 2% 0% 0% 0%;
    }
}

@media(min-width:768px) {
    .elementor-2732 .elementor-element.elementor-element-065431b {
        width: 14%;
    }
    .elementor-2732 .elementor-element.elementor-element-ce819db {
        width: 34.154%;
    }
    .elementor-2732 .elementor-element.elementor-element-991d7de {
        width: 31.931%;
    }
    .elementor-2732 .elementor-element.elementor-element-b2334ab {
        width: 19.915%;
    }
}

@media(max-width:1200px) and (min-width:768px) {
    .elementor-2732 .elementor-element.elementor-element-065431b {
        width: 17%;
    }
    .elementor-2732 .elementor-element.elementor-element-b2334ab {
        width: 23%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2732 .elementor-element.elementor-element-065431b {
        width: 16%;
    }
    .elementor-2732 .elementor-element.elementor-element-ce819db {
        width: 31%;
    }
    .elementor-2732 .elementor-element.elementor-element-991d7de {
        width: 33%;
    }
    .elementor-2732 .elementor-element.elementor-element-b2334ab {
        width: 20%;
    }
}